.wrapper {
  position: absolute;
  background: aquamarine;

  .venue {
    padding: 2em;
    margin: 2em 0;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    line-height: 2em;
    word-spacing: 0.4em;
  }

  .calendar {
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 0 1em;
    border-top: solid 1px #AAAAAA;
    border-bottom: solid 1px #AAAAAA;
  }

  .remainingDaysWrapper {
    width: 100%;
    padding: 1em 0;
    margin-bottom: 5em;
    text-align: center;
    font-weight: 300;

    & > strong {
      color: #d27c7c;
      font-weight: inherit;
    }
  }
}
