@keyframes circleAnimation {
  0% {
    transform: translate(-50%, 0);
  }

  20% {
    transform: translate(-50%, -1px);
  }

  100% {
    transform: translate(-50%, -200px);
    opacity: 0;
  }
}

@keyframes hideAwayAnimation {
  to {
    opacity: 0;
  }
}

.One {
  //background-color: antiquewhite;
}

.arrowForOpenWrapper {
  position: absolute;
  top: 50%;
  right: 0;
  width: 300px;
  height: 300px;
  transform: translateY(20px) scale(0.6);

  .arrowImageWrapper {
    position: relative;
    top: 0;
    left: 50%;
    width: 205px;
    height: 300px;
    transform: translateX(-50%);

    .arrowImage {
      opacity: .1;
    }
  }

  .drawableCircle {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: orangered;
    opacity: .5;
    animation-name: circleAnimation;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translate(-50%, 0);
  }

  &.hideAway {
    animation: hideAwayAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  @media only screen and (max-width: 767px) {
    width: 150px;
    height: 150px;

    @keyframes circleAnimation {
      100% {
        transform: translate(-50%, -100px);
        opacity: 0;
      }
    }

    .arrowImageWrapper {
      width: 102.5px;
      height: 150px;
    }

    .drawableCircle {
      position: absolute;
      bottom: 9px;
      right: 36px;
      width: 30px;
      height: 30px;
      animation-name: circleAnimation;
      animation-duration: .8s;
    }
  }
}
