html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
  background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 768px;
  margin: auto;
}

.scrollContainer {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scene {
  position: fixed;
}

@media only screen and (max-width: 419px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (min-width: 420px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
